<% flash.each do |flash_type, message| %>
  <div
    class="flash__message"
    data-controller="removals"
    data-controller-target="flash"
    data-action="animationend->removals#remove"
  >
    <%= message %>
  </div>
<% end %>
